.hero__inner__bg {
  width: 100%;
  height: 100%;
  background: url(../images/alpha/background.jpg) center no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

@media screen and (max-width: 728px) and (min-width: 701px) {
  .hero .logo {
    font-size: 100px;
  }

  .hero .logo-sub {
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 413px) {
  .hero .logo {
    font-size: 50px;
  }

  .hero .logo-sub {
    font-size: 20px;
    margin-top: 1rem;
  }
}

.links--alpha {
  background: url(../images/alpha/albro.png) top center no-repeat,
    linear-gradient(to left, #7995f7, #de7072);
  min-height: 1000px;
}
@media screen and (max-width: 700px) {
  .links--alpha {
    padding: 40px;
    background: linear-gradient(to left, #7995f7, #de7072);
    min-height: auto;
  }
}
