---
---
// https://fonts.google.com/specimen/Kosugi+Maru
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kosugi Maru", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
  background: linear-gradient(blue, red);
}

html {
  background: url(/images/background.gif) center;
  background-size: cover;
}

.main {
  padding: 100px;

  &, a {
    color: white;
  }
}

.section {
  padding: 30px 0;
}
