@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Kosugi Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  scroll-behavior: smooth;
}

body.drawer--navbarTopGutter {
  padding-top: 0;
}

/*上部ヘッダー*/
header.drawer-navbar .drawer-navbar-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  padding: 0 1.5rem;
}

header.drawer-navbar {
  background-color: transparent;
  border-bottom: none;
  transition: 200ms ease;
}

header nav.drawer-nav {
  background-color: transparent;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px #00000050;
}

@media screen and (max-width: 64em) {
  header.scrolled {
    background-color: transparent;
    box-shadow: none;
  }

  header .menu-icon {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 2.5rem;
    display: inline-block;
    transform: rotate(0deg);
    transition-duration: 0.5s;
    padding: 0 10px;
    border-radius: 0.2em;
    border: solid 3px rgba(255, 255, 255, 0.2);
  }

  header .drawer-hamburger {
    padding: 0;
    height: 3.75rem;
    position: relative;
    margin-left: auto;
  }

  header .menu-icon.opened {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
}

header a.drawer-menu-item {
  color: white;
}

header a.drawer-menu-item:hover {
  color: #06ffd2;
  text-decoration: none;
}
/*上部ヘッダーここまで*/
h2.section_title {
  /* ヘッダからのジャンプ用タイトル */
  margin-bottom: 20px;
  margin-top: -50px;
  padding-top: calc(50px + 6vh);
}

.box {
  padding: 30px 0;
}
@media screen and (max-width: 700px) {
  .box {
    padding: 20px 0;
  }
}

i.fab,
i.fas {
  margin-right: 8px;
}

.hero {
  height: 100vh;
}

a {
  color: white;
}

a:hover {
  color: #06ffd2;
}

.hero__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

.hero__inner__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__guide_for_scroll {
  opacity: 0;
  animation: logo 1s ease 1s forwards;
}

.hero__logo {
  margin-top: -40vh;
}

.hero .logo,
.guide_for_scroll {
  margin: 0;
  padding: 0;
  font-size: 140px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
}
.hero .logo-sub {
  text-align: center;
  margin-top: 2.5em;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 6px;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
}
.guide_for_scroll {
  position: absolute;
  top: 85vh;
}
.guide_for_scroll i {
  font-size: 5rem;
  font-weight: bold;
  animation: shake 0.5s ease infinite alternate;
}
@media screen and (max-width: 700px) {
  .hero .logo {
    font-size: 70px;
  }

  .hero .logo-sub {
    margin-top: 1.5rem;
    font-size: 25px;
  }
}

@keyframes logo {
  from {
    opacity: 0;
    margin-bottom: 64px;
  }

  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes omega-noise {
  0% {
    transform: translate3d(calc(-1 * 10px), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  9.9% {
    transform: translate3d(calc(-1 * 10px), 0, 0) scale3d(-1, -1, 1);
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(0px);
  }
}

.firstview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #cf4e7c;
  padding: 100px 20px 20px;
}
@media screen and (max-width: 700px) {
  .firstview {
    padding: 10px;
  }
}
.firstview .do-omega {
  font-weight: bold;
  margin-top: 1em;
  letter-spacing: 6px;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
  font-size: 3em;
}
@media screen and (max-width: 700px) {
  .firstview .do-omega {
    font-size: 1.4em;
  }
}
.firstview .video_box {
  padding: 4vw;
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  border-radius: 1vw;
}
@media screen and (max-width: 1440px) {
  .firstview .video_box {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .firstview .video_box {
    width: 100%;
  }
}
.firstview .video_wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.firstview .video_wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #cf4e7c 50%, rgba(0, 0, 0, 0)),
    linear-gradient(to left, #7995f7, #de7072);
  padding: 100px 120px 120px;
}
@media screen and (max-width: 700px) {
  .introduction {
    padding: 40px;
  }
}

.introduction .video {
  width: 560px;
  height: 315px;
}

.discography {
  width: 100%;
  padding-top: 5vh;
}
.playlist {
  width: 100%;
  margin-top: 5vh;
}
.playlist h2 {
  margin-bottom: 20px;
}
/*
.playlist .videos {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
*/
.playlist .videos img {
  margin: auto;
}
.videos .video-link {
  display: block;
  margin: 0 10px;
  position: relative;
  height: 240px;
}
.videos .video-link img {
  width: 320px;
  height: 240px;
}
.videos .video-link .video-title {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  transition: all 0.6s ease;
  left: 0;
  bottom: -50%;
}
.videos .video-link:hover .video-title {
  bottom: 0;
  opacity: 1;
}

.videos::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.videos::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

@media screen and (max-width: 700px) {
  .introduction .video {
    width: 100%;
    height: auto;
  }

  .videos .video-link {
    height: 150px;
  }
  .videos .video-link img {
    width: 200px;
    height: 150px;
  }
  .videos .video-link .video-title {
    font-size: 0.5rem;
  }
}
.swiper-parent {
  position: relative;
}

.swiper-container {
  width: 100%;
  padding-bottom: 100px;
  height: 300px;
  box-sizing: content-box;
}

@media screen and (max-width: 700px) {
  .swiper-container {
    width: 100%;
    padding-bottom: 0;
    height: 300px;
    box-sizing: content-box;
  }
}

.swiper-wrapper .swiper-slide {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 100px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #f083ba;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
/*.swiper-button-prev {*/
/*  color: #f083ba;*/
/*  background: rgba(255, 255, 255, 50);*/

/*}*/
.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  width: 28px;
  height: 86px;
}
.swiper-button-prev:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f100';
  font-size: 48px;
  color: #f083ba;
  text-shadow: 4px 4px 6px #ffaeae;
}
/* 次ページボタンのスタイル */
.swiper-button-next:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f101';
  font-size: 48px;
  color: #007aff;
  text-shadow: -4px 4px 6px #8f8fff;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.links {
  padding: 50px 80px 30px 80px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 700px) {
  .links {
    padding: 40px;
    background: linear-gradient(to left, #7995f7, #de7072);
  }
}

.links.normal {
  background: url(../images/omesis_with_silhouette.png) top center no-repeat,
    linear-gradient(to left, #7995f7, #de7072);
  background-size: cover;
}

.links.lucky {
  background: url(../images/rayrio.png) top center no-repeat,
    linear-gradient(to left, #7995f7, #de7072);
  background-size: cover;
}

.links a.omesis_ray:hover {
  color: #de7072;
}

.links a.omesis_rio:hover {
  color: #7995f7;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
.profiles .profile {
  margin: 5px;
}
.profiles .profile a {
  display: flex;
  text-decoration: none;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.profiles .profile .image {
  text-align: center;
  margin-right: 5px;
}
.profiles .profile h3 {
  margin-bottom: 7px;
}
.profiles .profile img {
  align-self: center;
  border-radius: 100%;
  width: 120px;
  max-width: 100%;
}
/*
.omesis_ray .twitter-timeline {
  background: #de7072;
}
.omesis_rio .twitter-timeline {
  background: #7995f7;
}
 */

.share-button {
  background: linear-gradient(to left, #3b26b1, #962c6a);
  border-radius: 24px;
  box-shadow: 0 0 8px #00000050;
  padding: 10px 24px;
  text-decoration: none;
  transition: box-shadow 0.25s;
  display: inline-block;
}
a.share-button:hover {
  color: white;
  box-shadow: 0 0 24px #00000050;
  background: linear-gradient(to left, #962c6a, #3b26b1);
}

.about-us {
  margin-bottom: 5vh;
  max-width: 700px;
  border-top: dotted 5px;
  border-bottom: dotted 5px;
}

.about-us .do-omega {
  font-weight: bold;
  margin-top: 1em;
  letter-spacing: 6px;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
}

.br-sp {
  display: none;
}
@media screen and (max-width: 700px) {
  .br-sp {
    display: inline;
  }
}

.exotic {
  background: radial-gradient(
      circle at top,
      rgba(0, 0, 0, 0),
      #222 50%,
      #8f8fff 75%,
      rgba(0, 0, 0, 0) 75%
    ),
    radial-gradient(circle at bottom, #222, #222 50%, #de7072 75%, #222 75%);
  padding-top: 10vh;
  text-align: center;
}

.viewer {
  width: 100%;
}
.viewer .controller {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.viewer .controller button,
.rotate_button {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  background: transparent;
  border: rgba(0, 0, 0, 0.5) 1px solid;
  color: white;
  border-radius: 2px;
}
.rotate_button {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.viewer .controller button:hover,
.viewer .controller button.active,
.rotate_button:hover,
.rotate_button.active {
  box-shadow: 0 0 24px #00000050;
}
.viewer .controller button.active,
.rotate_button.active {
  background: #06ffd2;
  color: black;
  border: none;
}
.viewer .description {
  margin: 5px 0;
}
.viewer .description a {
  word-wrap: break-word;
}

.c-alpha {
  font-size: 0.1rem;
  animation: omega-noise 4s linear infinite 2s;
}

.c-alpha .c-alpha__link {
  text-decoration: none;
}

.fukidashi {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  margin: 1.5em auto;
  padding: 0 5px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #70a6ff;
  border-radius: 50%;
  box-sizing: border-box;
}

.fukidashi:before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #70a6ff;
  z-index: 0;
}

/*
うんちゃん
*/
.c-unchan:hover > .fukidashi {
  visibility: visible;
  opacity: 1;
}

.c-unchan--fixedBottom {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 133px;
  cursor: pointer;
}

.c-unchan__inner {
  padding-bottom: 100%;
  animation: purupuru 7s 5s linear infinite;
}

.c-unchan__toguro {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, #f083ba, #c26795);
}

.c-unchan__toguro,
.c-unchan__tsuno {
  animation-name: unchan-show-toguro;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
}

.c-unchan__eye,
.c-unchan__mouth {
  animation: unchan-show-other 1.75s 2.2s ease-out backwards;
}

.c-unchan__toguro--top {
  bottom: 50%;
  width: 60%;
  z-index: 3;
  animation-delay: 1.1s;
}

.c-unchan__toguro--middle {
  bottom: 25%;
  width: 85%;
  z-index: 2;
  animation-delay: 1.05s;
}

.c-unchan__toguro--bottom {
  bottom: 0;
  z-index: 1;
  animation-delay: 1s;
}

.c-unchan__eye {
  position: absolute;
  width: 6%;
  bottom: 25%;
  left: 0;
  right: 0;
  margin: auto;
}

.c-unchan__eye div {
  padding-bottom: 100%;
  background-color: #1a1a1a;
  border-radius: 100%;
  overflow: hidden;
}

.c-unchan__eye--left {
  transform: translateX(-165%);
}

.c-unchan__eye--right {
  transform: translateX(165%);
}

.c-unchan__mouth {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  left: 0;
  z-index: 5;
}

.c-unchan__mouth::before,
.c-unchan__mouth::after {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  position: absolute;
  background-color: #1a1a1a;
  bottom: 25px;
  margin: auto;
  z-index: 2;
}

.c-unchan__mouth::before {
  left: 36px;
}

.c-unchan__mouth::after {
  right: 36px;
}

.c-unchan__mouth__inner {
  width: 55px;
  height: 30px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.c-unchan__mouth__inner div {
  width: 70px;
  height: 145px;
  position: absolute;
  bottom: -42px;
  left: -107px;
  border-radius: 150px 0 0 150px;
  border-top: 25px solid #1a1a1a;
  border-left: 25px solid #1a1a1a;
  border-bottom: 25px solid #1a1a1a;
  transform: translate(100px) rotate(-90deg) scale(0.5) scaleX(0.8) scaleY(1.2);
  z-index: 4;
}

.c-unchan__tsuno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-delay: 1.1s;
}

.c-unchan__tsuno__inner {
  width: 35px;
  height: 77px;
  position: absolute;
  top: -8px;
  left: 48px;
  overflow: hidden;
  transform: rotate(-70deg);
  border-radius: 100%;
}

.c-unchan__tsuno__inner::before {
  content: '';
  position: absolute;
  bottom: 70%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 300px 0 300px #f083ba;
}

@keyframes unchan-show-toguro {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes unchan-show-other {
  0% {
    will-change: opacity;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .c-unchan--fixedBottom {
    transform: scale(0.5);
    transform-origin: right bottom;
  }
}

/*
https://www.tam-tam.co.jp/tipsnote/html_css/post11618.html
 */
@keyframes purupuru {
  0% {
    transform: skew(0deg, 0deg);
  }
  1.5% {
    transform: skew(5deg, 4.2deg);
  }
  3% {
    transform: skew(-4deg, -3deg);
  }
  4.5% {
    transform: skew(3deg, 2.2deg);
  }
  6% {
    transform: skew(-2deg, -1.5deg);
  }
  7.5% {
    transform: skew(0.9deg, 0.9deg);
  }
  9% {
    transform: skew(-0.6deg, -0.6deg);
  }
  10.5% {
    transform: skew(0.3deg, 0.3deg);
  }
  12% {
    transform: skew(-0.2deg, -0.2deg);
  }
  12.5% {
    transform: skew(0.1deg, 0.1deg);
  }
  15% {
    transform: skew(0deg, 0deg);
  }
}

/*
うんちゃんここまで
 */
