---
---

// https://fonts.google.com/specimen/Kosugi+Maru
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kosugi Maru", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: url(../images/background.gif) center no-repeat fixed;
  background-size: cover;
}

.main {
  padding: 100px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  &,
  a {
    color: white;
  }
}

.section {
  padding: 30px 0;
}

i {
  margin-right: 8px;
}

.profiles {
  margin-top: 10px;

  .profile {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    h3 {
      margin-bottom: 7px;
    }

    img {
      border-radius: 100%;
      width: 120px;
      margin-right: 20px;
      align-self: center;
    }
  }
}

@media screen and (min-width: 700px) {
  .profiles {
    display: flex;
    flex-wrap: wrap;

    .profile {
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    padding: 20px;
  }

  .section {
    padding: 15px 0;
  }

  .profile {
    margin-bottom: 10px;
    text-align: center;

    .image {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
