---
---

// https://fonts.google.com/specimen/Kosugi+Maru
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap");

@mixin mobile {
  @media screen and (max-width: 700px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kosugi Maru", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  padding: 30px 0;
  @include mobile {
    padding: 20px;
  }
}

i.fab {
  margin-right: 8px;
}

.hero {
  height: 100vh;
  background: url(../images/background.gif) center no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &,
  a {
    color: white;
  }

  .logo {
    margin: 0;
    padding: 0;
    font-size: 140px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    @include mobile {
      font-size: 80px;
    }
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
  padding: 230px 120px;
  @include mobile {
    padding: 40px;
  }

  .video {
    width: 560px;
    height: 315px;
    @include mobile {
      width: 100%;
      height: auto;
    }
  }
}

.links {
  padding: 230px 80px;
  background: url(../images/omesis.png) top center no-repeat,
    linear-gradient(to left, blue, red);
  background-size: cover;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  &,
  a {
    color: white;
  }
  @include mobile {
    padding: 40px;
    background: linear-gradient(to left, blue, red);
  }
}

.profiles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;

  @include mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .profile {
    margin: 5px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-align: center;

    @include mobile {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .image {
      text-align: center;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 7px;
    }

    img {
      border-radius: 100%;
      width: 120px;
      align-self: center;
    }
  }
}
