@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Kosugi Maru", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  padding: 30px 0;
}
@media screen and (max-width: 700px) {
  .box {
    padding: 20px;
  }
}

i.fab {
  margin-right: 8px;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero,
.hero a {
  color: white;
}

/* 背景画像にblurをかける */
.hero:before {
  display: block;
  width: 100vw;
  height: 100vh;
  background: url(../images/background.gif) center no-repeat fixed;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
}

.hero .logo {
  margin: 0;
  padding: 0;
  font-size: 140px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
@media screen and (max-width: 700px) {
  .hero .logo {
    font-size: 80px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
  padding: 230px 120px;
}
@media screen and (max-width: 700px) {
  .introduction {
    padding: 40px;
  }
}
.introduction .video {
  width: 560px;
  height: 315px;
}
@media screen and (max-width: 700px) {
  .introduction .video {
    width: 100%;
    height: auto;
  }
}

.links {
  padding: 230px 80px;
  background: url(../images/omesis.png) top center no-repeat,
    linear-gradient(to left, blue, red);
  background-size: cover;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
}
.links,
.links a {
  color: white;
}
@media screen and (max-width: 700px) {
  .links {
    padding: 40px;
    background: linear-gradient(to left, blue, red);
  }
}

.profiles {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .profiles {
    display: flex;
    flex-wrap: wrap;
  }
}
.profiles .profile {
  margin: 5px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .profiles .profile {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.profiles .profile .image {
  text-align: center;
  margin-bottom: 10px;
}
.profiles .profile h3 {
  margin-bottom: 7px;
}
.profiles .profile img {
  border-radius: 100%;
  width: 120px;
  align-self: center;
}

.share-button {
  background: linear-gradient(to right, #3b26b1, #962c6a);
  border-radius: 24px;
  box-shadow: 0 0 8px #00000050;
  padding: 16px 24px;
  text-decoration: none;
  transition: box-shadow 0.25s;
}
.share-button:hover {
  box-shadow: 0 0 24px #00000050;
}
