.start-button {
  background: linear-gradient(to left, #3b26b1, #962c6a);
  border-radius: 24px;
  box-shadow: 0 0 8px #00000050;
  padding: 10px 50px;
  width: 300px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  transition: box-shadow 0.25s;
  display: inline-block;
  cursor: pointer;
}

.tweet-button {
  background: linear-gradient(to left, #6499fc, #41d8fd);
  border-radius: 24px;
  box-shadow: 0 0 8px #00000050;
  padding: 10px 50px;
  width: 300px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  transition: box-shadow 0.25s;
  display: inline-block;
}

.preact__container_for_sindan {
  width: 100%;
  height: 100%;
}

.hero__container_for_sindan {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__container_for_sindan_result {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.hero__logo_for_sindan {
  margin-top: 0vh;
  padding: 0 10px;
}

.hero__logo_for_sindan_result {
  margin-top: 10vh;
}

.question-logo {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 80px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
}

.question-text {
  max-width: 800px;
  text-align: left;
  margin-top: 2.5em;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 6px;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
}

.controle-box {
  width: 100%;
  height: 35%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controle-box__buttons {
  width: 300px;
  padding-bottom: 15px;
  text-align: center;
}

.sindan-result-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.logo-desc {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 6px;
  text-shadow: 4px 4px 6px #ffaeae, -4px 4px 6px #8f8fff;
  text-align: left;
}

.desc-box {
  margin-top: 150px;
  max-width: 800px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

#sindan {
  width: 100%;
  height: 100%;
}
