<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <link rel="icon" href="images/favicon.ico" />

    {% seo %}

    <!-- Normalize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />

    <!-- Share -->
    <script
      defer
      src="https://platform.twitter.com/widgets.js"
      id="twitter-wjs"
    ></script>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/fontawesome.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/brands.css"
    />

    <title>おめシスのホームページ</title>
  </head>
  <body>
    <div class="main">
      {{ content }}
    </div>
  </body>
</html>
