name: deploy

on:
  push:
    branches:
      - master
      - 'test/**'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor != 'GitHubActions'
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: prepare
        run: |
          yarn
      - name: build
        run: |
          yarn build:js
      - name: Commit files
        run: |
          echo ${GITHUB_ACTOR}
          git config --local user.email "action@github.com"
          git config --local user.name "GitHubActions"
          git add --all
          git commit --allow-empty -m "Bundled output for commit $GITHUB_SHA"          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
    env:
      CI: true
